nav,
main {
}	

main {
	display: flex;
	flex-direction: row;
	flex: 1 1 0;
	justify-content: space-between;
	padding: 5%;		

	#dropzone,
	#ressources {
		background-color: #111;
	}
	
	#dropzone {
		margin-right: 5%;
		height: 20vw;
		width: 20vw;
	}

	#ressources {
		overflow-y: auto;
	
		min-height: 100%;
		width: 80vw;

		background-color: #111;

		.drop {
			padding: 2.5%;
			width: 100%;
			
			.label {
				display: block;
				padding: 1%; 
				height: 100%;
				width: 100%;
			}

			.label:hover {
				cursor: pointer;
			}

			.content {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				flex-direction: row;

				.node {
					position: relative;

					display: flex;
					flex-direction: column;
					margin: 5px;
					height: 100px;
					width: 100px;

					.fileName {
						overflow: hidden;

						height: auto;
						width: 100%;

						text-overflow: ellipsis;								
					}

					img {
						padding: 0;
						margin: 0 auto;
						height: 100%;
						width: 100%;
					}
		
					.dataFrame {
					}	
				}
			}

			.content.collapsed {
				display: none;
			}
		}
		
		#img {
			@bg: #e6bcde;	
			
			.label {
				background-color: darken(@bg, 10);
			}

			.label:hover {
				background-color: darken(@bg, 15);
			}
			
			.content {
				background-color: @bg;
			}	
		}

		#vid{
			@bg: #bccee6;

			.label {
				background-color: darken(@bg, 5);
			}

			.label:hover {
				background-color: darken(@bg, 10);
			}
			
			.content {
				background-color: @bg;
			}	
		}

		#sfx {
			@bg: #e6e0bc;
		
			.label {
				background-color: darken(@bg, 5);
			}

			.label:hover {
				background-color: darken(@bg, 10);
			}
			
			.content {
				background-color: @bg;
			}	
		}
		
		#txt {
			@bg: #aaa;
		
			.label {
				background-color: darken(@bg, 5);
			}

			.label:hover {
				background-color: darken(@bg, 10);
			}
			
			.content {
				background-color: @bg;
			}
		}
	}
}
