#root {
  padding: 0 10%;
  background: url('/res/img/prism.png');
  background-size: 65%;
}
#root span {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
#root .box {
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1%;
  width: 100%;
}
#root #homepie {
  left: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: no-wrap;
  height: fit-content;
  width: fit-content;
}
#root #homepie span {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
}
#root #homepie span p {
  padding-right: 5px;
  margin: auto;
  font-size: 50px;
  font-weight: bold;
}
#root #homepie span #home {
  color: #e4a0ea;
}
#root #homepie span #pie {
  color: #eab071;
}
#root #homepie img {
  height: 200px;
  width: 200px;
}
#root footer {
  bottom: 0;
  margin: 0 auto;
  height: 10%;
  width: 25%;
}
#root footer div {
  background-color: #000;
  opacity: 0.5;
}
