* {
	padding: 0;
	margin: 0;
	
	color: #fff;
	font-size: 20px;
	outline: 0;
	text-decoration: none;
}

body {
	overflow: hidden;
	  
	height: 100vh;
	width: 100vw;
	 
	background-color: #353535;

	#root {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		flex-wrap: nowrap;
		height: 100%;
		width: 100%;
		
		text-align: center;
		
		nav,
		main {
		}	

		main {
			display: flex;
			flex-direction: row;
			flex: 1 1 0;
			justify-content: space-between;
			padding: 10%;		
	
			#dropzone,
			#ressources {
				background-color: #111;
			}
			
			#dropzone {
				height: 20vw;
				width: 20vw;
			}
		
			#ressources {
				height: 100%;
				width: 80vw;

				background-color: #111;

				.drop {
					.node {
					}
				}
				
				#img {
					background-color: #e6bcde;
				}

				#vid{
					background-color: #bccee6;
				}

				#sfx {
					background-color: #e6e0bc;
				}

				#txt {
					background-color: #aaa;
				}
			}
		}
	}
}
